# To use this app change the values in this file
# and rename it to DATA.env

# The domain of the wordpress instalation
# ie example.com or shop.example.com
# without https:// and without path
host=shop.example.ch

# The consumer key and secret from woo commerce
consumer_key=ck_xxxxxxxxxxxxxxxx
consumer_secret=cs_xxxxxxxxxxxxxxxx

# Debug mode
debug=false