.root {
    -fx-font-size: 12;
}

.bold {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.email {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: blue;
    -fx-underline: true;
}

.price {
    -fx-font-style: italic;
}

#meta {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.about-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: #005fab;
}

.about-version {
    -fx-font-weight: bold;
}

/* ORDER LIST: OPEN */

.list-cell:open {
    -fx-background-color: mistyrose;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:open {
    -fx-background-color: derive(mistyrose, -30%);
}

.list-cell:selected:open {
    -fx-background-color: derive(mistyrose, -30%);
}

/* ORDER LIST: IN STOCK */

.list-cell:in_stock {
    -fx-background-color: lemonchiffon;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:in_stock {
    -fx-background-color: derive(lemonchiffon, -30%);
}

.list-cell:selected:in_stock {
    -fx-background-color: derive(lemonchiffon, -30%);
}

/* ORDER LIST: DELIVERED */

.list-cell:delivered {
    -fx-background-color: #D0FDD0;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:delivered {
    -fx-background-color: derive(#D0FDD0, -30%);
}

.list-cell:selected:delivered {
    -fx-background-color: derive(#D0FDD0, -30%);
}