.root {
    -fx-font-size: 12;
}

.bold {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.email {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: blue;
    -fx-underline: true;
}

.price {
    -fx-font-style: italic;
}

#meta {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}