.root {
    -fx-font-size: 12;
}

.bold {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.email {
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-text-fill: blue;
    -fx-underline: true;
}

.price {
    -fx-font-style: italic;
}

#meta {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#filter_paid {
    -fx-background-image: url('paper-bill.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-position: center
}

#filter_in_stock {
    -fx-background-image: url('truck.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-position: center
}

#filter_done {
    -fx-background-image: url('check-mark.png');
    -fx-background-size: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-background-position: center
}

.about-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: #005fab;
}

.about-version {
    -fx-font-weight: bold;
}

/* ORDER LIST: OPEN */

.list-cell:open {
    -fx-background-color: mistyrose;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:open {
    -fx-background-color: derive(mistyrose, -30%);
}

.list-cell:selected:open {
    -fx-background-color: derive(mistyrose, -30%);
}

/* ORDER LIST: IN STOCK */

.list-cell:in_stock {
    -fx-background-color: lemonchiffon;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:in_stock {
    -fx-background-color: derive(lemonchiffon, -30%);
}

.list-cell:selected:in_stock {
    -fx-background-color: derive(lemonchiffon, -30%);
}

/* ORDER LIST: PAID */

.list-cell:paid {
    -fx-background-color: peachpuff;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:paid {
    -fx-background-color: derive(peachpuff, -30%);
}

.list-cell:selected:paid {
    -fx-background-color: derive(peachpuff, -30%);
}

/* ORDER LIST: PAID and IN STOCK */

.list-cell:paid_instock {
    -fx-background-color: #D0FDD0;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:paid_instock {
    -fx-background-color: derive(#D0FDD0, -30%);
}

.list-cell:selected:paid_instock {
    -fx-background-color: derive(#D0FDD0, -30%);
}

/* ORDER LIST: DELIVERED */

.list-cell:done {
    -fx-background-color: #D0FDD0;
    -fx-opacity: 0.2;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:selected:done {
    -fx-background-color: derive(#D0FDD0, -30%);
}

.list-cell:selected:done {
    -fx-background-color: derive(#D0FDD0, -30%);
}